<!DOCTYPE html>
<html lang="en">
<head>
    <thymeleaf th:replace="fragments :: meta_script_link"/>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>Add Game</title>
    <script defer th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js}">
    </script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}">
    <script defer src="../javascript/addgame.js">
    </script>
</head>
<body>


<header th:insert="~{fragments::nav}"></header>
<main class="text-center">
<h1 th:text="#{addg.title}"></h1>
<form method="post"  id="addGameForm">



    <label for="name" th:text="#{game.name}">Name:</label>
    <input type="text" id="name"/>
    <div class="alert text-danger" ></div>


    <label  th:text="#{game.genre}">Genre</label>
    <select name="genre" id="genre" required>
        <option disabled selected value th:text="Select"></option>
        <option th:each="gGenre : ${genres}"
                th:text="${gGenre.getName()}"
                th:value="${gGenre.toString()}"></option>
    </select>


    <label th:for="publisher" th:text="#{game.publisher}">Publisher</label>
    <select   id="publisher" required>

        <option th:each="publisher : ${publishersList}"
                th:text="${publisher.getPublisherName()}"
                th:value="${publisher.getId()}"></option>
    </select>

    <p>Don't see the correct publisher? You can add it <a th:href="@{/publishers/add}">here!</a></p>

    <label for="releaseDate" th:text="#{game.releaseDate}">Release date:</label>
    <input type="date" id="releaseDate"/>
    <div class="alert text-danger"  ></div>

    <label for="price" th:text="#{game.price}">Price:</label>
    <input type="number" id="price" min="0" step=".01" />
    <div class="alert text-danger"  ></div>

    <label for="copiesSold"  min="0" step="1"th:text="#{game.copiesSold}">Copies Sold:</label>
    <input type="number" id="copiesSold" />
    <div class="alert text-danger"  ></div>




    <h2 th:text="#{platforms.playable}">Playable on platforms</h2>

<input type="checkbox" th:each="platform:${platforms}" th:value="${platform.getName()}" th:text="${platform.getName()}" class="platforms">
<button type="button" class="btn btn-primary">Submit</button>

</form>
</main>
<footer th:insert="~{fragments::footer}">
</footer>
</body>
</html>