<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script defer th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js}">
    </script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}">

</head>
<body>

<header th:insert="fragments.html :: nav"></header>

<main class="text-center">
    <h1 th:text="#{publisher.add}">Add Publisher</h1>
    <form method="post" th:object="${publisher}">
        <label for="name" th:text="#{publisher.name}">Name:</label>
        <input type="text" id="name" th:field="*{name}"/>
        <div class="alert text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>

        <label for="headquarters" th:text="#{publisher.headquarters}"></label>
        <input type="text" id="headquarters" th:field="*{headquarters}">
        <div class="alert text-danger" th:if="${#fields.hasErrors('headquarters')}" th:errors="*{headquarters}"></div>


        <label for="founded" th:text="#{publisher.founded}"></label>
        <input type="date" id="founded" th:field="*{founded}"/>
        <div class="alert text-danger" th:if="${#fields.hasErrors('founded')}" th:errors="*{founded}"></div>

        <input type="submit" value="Submit"/>
    </form>
</main>
<footer th:insert="~{fragments::footer}">
</footer>
</body>
</html>