<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>Add Platform</title>
    <script defer th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js}">
    </script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}">

</head>
<body>



<header th:insert="fragments.html :: nav"></header>

<main class="text-center">
    <h1 th:text="#{addp.title}">Add Platform</h1>


<form method="post" th:object="${platform}" >
    <label for="name" th:text="#{platform.name}">Name:</label>
    <input type="text" id="name" th:field="*{name}"/>
    <div class="alert text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>

    <label for="developer" th:text="#{platform.developer}">Developer:</label>

    <select  th:field="*{developer}" id="developer" >
        <option th:each="developer : ${developers}"
                th:text="${developer.name}"
                th:value="${developer}"></option>
    </select>




    <label for="releaseDateStr" th:text="#{platform.releaseDate}">Release date:</label>
    <input type="date" id="releaseDateStr"   th:field="*{releaseDate}"/>

    <label for="generation" th:text="#{platform.generation}">Generation:</label>
    <input type="number" min="0" id="generation" th:field="*{generation}"/>
    <div class="alert text-danger" th:if="${#fields.hasErrors('generation')}" th:errors="*{generation}"></div>

    <h2 th:text="#{games.playable}">Games Playable</h2>

    <input type="checkbox" th:each="game:${games}" th:value="${game.getName()}" th:text="${game.getName()}" th:field="*{gamesList}">
    <input type="submit" value="Submit"  />


</form>
</main>
<footer th:insert="~{fragments::footer}">
</footer>
</body>
</html>