<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <thymeleaf th:replace="fragments :: meta_script_link"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script defer th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js}">
    </script>


    <script th:src="@{../javascript/games.js}" defer></script>


    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{../css/games.css}">
    <title>All games</title>

</head>
<body>


<header th:insert="~{fragments.html::nav}"></header>

<div class="container">

    <h1 class="text-center" th:text="#{game.title}">All games</h1>

    <div class="row">

            <main class=" col-8">


                <table class="table" id="gamesTable">
                    <thead>

                    <tr>

                        <th scope="col" th:text="#{game.name}">Name</th>
                        <th scope="col">Publisher</th>
                        <th scope="col" th:text="#{game.genre}">Genre</th>
                        <th scope="col" th:text="#{game.releaseDate}">Release Date</th>
                        <th scope="col" th:text="#{game.price}">Price</th>
                        <th scope="col" th:text="#{game.copiesSold}">Copies Sold</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr th:each="game: ${games}" th:id="'game_' + ${game.id}">


                        <td><a th:text="${game.name}" th:href="@{games/{game}(game=${game.getId()})}"> </a></td>
                        <td th:text="${game.publisher.publisherName}"/>
                        <td th:text="${game.genre.getName()}"/>
                        <td th:text="${game.releaseDate}"/>
                        <td th:text="${game.price}"/>
                        <td th:text="${game.copiesSold}"/>


                        <td class="del" sec:authorize="isAuthenticated()" >
                            <button type="button" class="btn btn-outline-danger" th:id="${game.id}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-trash" viewBox="0 0 16 16">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"></path>
                                    <path fill-rule="evenodd"
                                          d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"></path>
                                </svg>
                                Delete
                            </button>
                        </td>


                    </tr>
                    </tbody>
                </table>
            </main>


            <aside class="col-4">
                <table class="table" id="platformsTable">
                    <thead>
                    <tr>
                        <th>Platform</th>
                        <th>Developer</th>
                        <th>Generation</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>---</td>
                        <td>--:--</td>
                        <td>--:--</td>
                    </tr>
                    </tbody>
                </table>
            </aside>

    </div>
</div>


<footer th:insert="~{fragments::footer}">
</footer>
</body>
</html>