<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script defer th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js}">
    </script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}">

</head>
<body>
<header th:insert="~{fragments.html::nav}"></header>

<main class=" p-3 ">
    <h1 class="text-center" th:text="#{publisher.all}">All publishers</h1>
    <table class="table">
        <tr>

            <th scope="col" th:text="#{publisher.name}">Name</th>
            <th scope="col" th:text="#{publisher.headquarters}" >Headquarters</th>
            <th scope="col" th:text="#{publisher.founded}">Founded</th>

        </tr>

        <tr th:each="publisher: ${publishers}">


            <td >  <a th:text="${publisher.getPublisherName()}" th:href="@{publishers/{publisher}(publisher=${publisher.getId()})}"> </a></td>
            <td th:text="${publisher.getHeadquarters()}"/>
            <td th:text="${publisher.getFounded()}"/>

        </tr>
    </table>
</main>


<footer th:insert="~{fragments::footer}">
</footer>

</body>
</html>