<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Platforms</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" >
    <script defer th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js}">
    </script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}">

</head>
<body>

<header th:insert="fragments.html :: nav"></header>


<main class=" p-3 mb-5">
<h1 class="text-center" th:text="#{platform.title}">All Platforms</h1>
<table class="table">

    <tr><td  th:text="#{platform.name}">Name</td><td  th:text="#{platform.developer}">Developer</td><td  th:text="#{platform.releaseDate}">Release date</td><td  th:text="#{platform.generation}">Generation</td></tr>

    <tr th:each="platform: ${platforms}">
        <form method="post">
        <td  > <a th:text="${platform.name} "  th:href="@{platforms/{platform}(platform=${platform.getId()})}"></a></td>
        <td th:text="${platform.developer.name}" />

        <td th:text="${platform.releaseDate}" />
        <td th:text="${platform.generation}" />
        <input type="number" hidden="hidden" th:value="${platform.id}" name="id">

        <td><button type="submit" class="btn btn-outline-danger" >
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"></path>
                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"></path>
            </svg>
            Delete
        </button></td>
        </form>
    </tr>

</table>

</main>
<footer th:insert="~{fragments::footer}">
</footer>
</body>
</html>