<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
  <title>Problem!</title>
  <script defer th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js}">
  </script>
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}">
</head>
<body>
<header th:insert="~{fragments.html::nav}"></header>
<h1> Something went wrong!</h1>
<p th:text="'Status:' + ${status}"></p>
<p th:text="'Error:' + ${error}"></p>
<p th:text="'Message: '+${message}"></p>
<footer th:insert="~{fragments::footer}">
</footer>
</body>
</html>
