<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <thymeleaf th:fragment="meta_script_link" th:remove="tag">
        <meta charset="UTF-8"/>
        <meta name="_csrf" th:content="${_csrf.token}"/>
        <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
        <script src="/webjars/bootstrap/5.2.3/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css" />
    </thymeleaf>
</head>
<body>


<!--Nav-->
<header th:fragment="nav">
<nav class="navbar navbar-expand-lg navbar-light bg-light" >
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">Game Library</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a th:href="@{/games}" class="nav-item nav-link ">All games</a>

                <a th:href="@{/games/add}" class=" nav-item nav-link">Add game</a>

                <a th:href="@{/platforms}" class="nav-item nav-link">All platforms</a>
                <a th:href="@{/platforms/add}" class="nav-item nav-link">Add platform</a>
                <a th:href="@{/publishers}" class="nav-item nav-link">All publishers</a>
                <a th:href="@{/publishers/add}" class="nav-item nav-link">Add publisher</a>
                <a th:href="@{/history}" class="nav-item nav-link">History</a>
            </div>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item me-2 pt-2" sec:authorize="isAuthenticated()">
                    <span class="navbar-text">Welcome, <span sec:authentication="name"></span>!</span>
                </li>
                <li sec:authorize="isAuthenticated()">
                    <form class="d-flex" th:action="@{/logout}" th:method="POST">
                        <button type="submit" class="btn btn-secondary">Sign out</button>
                    </form>
                </li>
                <li class="nav-item" sec:authorize="!isAuthenticated()">
                    <a class="nav-link" th:href="@{/login}" th:classappend="${page == 'login'} ? 'active' : ''">Sign in</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</header>


<!--Footer-->
<footer class=" fixed-bottom footer mt-5"  th:fragment="footer">

    <div class="  text-center p-3 bg-light" >
       Margarita Stoyanova 	&#169;
    </div>

</footer>


</body>
</html>