<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game Library</title>

    <script defer th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js}">
    </script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}">
</head>
<body>
<header th:insert="~{fragments::nav}"></header>
<main>
<div class="mt-5 position-relative">
    <h1 class="text-center mt-5 ">Game Library</h1>
    <h5 class="text-center">One place for all your favorite games</h5>

</div>

</main>
<footer th:insert="~{fragments::footer}"></footer>
</body>
</html>