<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Game Library - Login</title>
    <script defer th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js}">
    </script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}">
</head>
<body>



<main class="container">
    <h1>Login</h1>

    <form th:action="@{/login}" method="POST">
        <div class="pb-3">
            <label for="username" class="form-label">Username</label>
            <input id="username" name="username" class="form-control" type="text">
        </div>
        <div class="pb-3">
            <label for="password" class="form-label">Password</label>
            <input id="password" name="password" class="form-control" type="password">
        </div>
        <button type="submit" class="btn btn-primary">Log in</button>
    </form>

    <p class="mt-5">
        Users:
    </p>
    <ul class="mt-1">
        <li>lars / lars (ROLE_USER)</li>
        <li>jef / jef (ROLE_USER)</li>
        <li>admin / admin (ROLE_ADMIN)</li>
    </ul>
</main>

</body>
</html>
