<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${indvGame.getName()}">Title</title>
    <script defer th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js}">
    </script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}">
</head>
<body>
<header th:insert="fragments.html :: nav"></header>

<main class="p-2 mb-5">
<h1 th:text="${indvGame.getName()}" class="text-center"></h1>

    <p th:text="${'Name: ' + indvGame.getName()}"></p>
    <p th:text="${'Publisher: ' + indvGame.getPublisher().getPublisherName()}"></p>

    <p th:text="${'Genre: ' + indvGame.getGenre().getName()}"></p>

<p th:text="${'Release date: ' + indvGame.getReleaseDate()}"></p>
<p th:text="${'Price: ' + indvGame.getPrice()}"></p>
<p th:text="${'Copies sold: ' + indvGame.getCopiesSold()}"></p>

    <table class="table">
        <thead>
        <tr>
            <th>Platform</th>
            <th>Developer</th>
            <th>Generation</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="platform : ${indvGame.getPlatforms()}" th:id="${platform.id}">
            <td th:text="${platform.getName()}"></td>
            <td th:text="${platform.getDeveloper()}"></td>
            <td th:text="${platform.getGeneration()}"></td>
            <td><button type="button" class="btn btn-danger">Delete</button></td>
        </tr>
        </tbody>
    </table>
</main>
<footer th:insert="~{fragments::footer}">
</footer>

</body>
</html>