<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${indvPublisher.getPublisherName()}">Title</title>
    <script defer th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js}">
    </script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}">
    <script defer src="../javascript/publisher.js">
    </script>
</head>
<body>
<header th:insert="fragments.html :: nav"></header>

<main class="p-2 ">

<h1 th:text="${indvPublisher.getPublisherName()}" th:id="${indvPublisher.getId()}" class="text-center">Test</h1>
    <label for="name" class="p-1">Name: </label> <input disabled type="text" id="name" th:value="${indvPublisher.getPublisherName()}">

<label for="hq" class="p-1">Headquarters: </label> <input disabled type="text" id="hq" th:value="${indvPublisher.getHeadquarters()}">
<br>

    <label for="founded" class="p-1">Founded: </label> <input type="date" disabled id="founded" th:value="${indvPublisher.getFounded()}">

<div class="mr-2 float-end ">
    <button type="button" class="btn btn-primary mr-2" id="editBtn" >
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
            <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
        </svg>
        Edit
    </button>
    </button>
    <button type="button" class="btn btn-success visually-hidden"  id="saveBtn">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-save2" viewBox="0 0 16 16">
            <path d="M2 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H9.5a1 1 0 0 0-1 1v4.5h2a.5.5 0 0 1 .354.854l-2.5 2.5a.5.5 0 0 1-.708 0l-2.5-2.5A.5.5 0 0 1 5.5 6.5h2V2a2 2 0 0 1 2-2H14a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h2.5a.5.5 0 0 1 0 1H2z"/>
        </svg>
        Button
    </button>

</div>

    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Release Date</th>
            <th>Copies sold</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="game : ${indvPublisher.getGames()}" th:id="${game.id}">
            <td th:text="${game.getName()}"></td>
            <td th:text="${game.getReleaseDate()}"></td>
            <td th:text="${game.getCopiesSold()}"></td>
            <td> <button type="button" disabled class="btn btn-outline-danger" th:id="${game.id}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-trash" viewBox="0 0 16 16">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"></path>
                    <path fill-rule="evenodd"
                          d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"></path>
                </svg>
                Delete
            </button></td>
        </tr>
        </tbody>
    </table>

</main>
<footer th:insert="~{fragments::footer}">
</footer>

</body>
</html>