<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${indvPlatform.getName()}"></title>
    <script defer th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js}">
    </script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}">
</head>
<body>
<header th:insert="~{fragments::nav}"></header>

<main>
    <h1 class="text-center" th:text="${indvPlatform.getName()}"></h1>
    <p th:text="${'Developer ' + indvPlatform.getDeveloper()}"></p>
    <p th:text="${'Release date ' + indvPlatform.getReleaseDate()}"></p>
    <p th:text="${'Generation ' + indvPlatform.getGeneration()}"></p>

    <p>Games:</p>
    <p th:each="game:${gameList}" th:text="${game.getName()}"></p>
</main>

<footer th:insert="~{fragments::footer}"></footer>
</body>
</html>