<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>History</title>
  <script defer th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js}">
  </script>
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}">
</head>
<body>
<header th:insert="fragments.html :: nav"></header>
<h1 class="text-center" th:text="#{history}">History</h1>
<table class="table">
  <tr><th th:text="#{history.timestamp}">time</th>
    <th>url</th>
  </tr>
  <tr th:each="time, iter:${sessions}">
    <td th:text="${time}"></td>
    <td th:text="${urls[iter.index]}"></td>
  </tr>
</table>

<footer th:insert="~{fragments::footer}"></footer>
</main>

</body>
</html>